services:
  api:
    image: ghcr.io/factoryia/fincasyaback:latest
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3001
    restart: unless-stopped
